{% assign content_item = page %}
{% if post %}
    {% assign content_item = post %}
{% endif %}

{% include posts/newsletter/intro.html %}
{% include posts/newsletter/highlights.html %}

{% if content_item.newsletter.pre_closing_sentence %}
<p>
    {{ content_item.newsletter.pre_closing_sentence }}
</p>
{% endif %}

<p>
    {{ content_item.newsletter.closing_sentence }}
</p>

<a href="{{ content_item.newsletter.url }}" class="btn btn-outline-secondary post-continue-reading">Read full newsletter <i class="fa fa-caret-right"></i></a>
