{% assign content_item = false %}
{% if post %}
{% assign content_item = post %}
{% else %}
{% assign content_item = page %}
{% endif %}

{% if content_item.newsletter.highlights %}
{% if content_item.newsletter.highlights.size == 1 %}
<p>
    {{ content_item.newsletter.highlights }}
</p>
{% else %}
<p>
    Highlights from this week: 
</p>

<ul>

{% for highlight in content_item.newsletter.highlights %}
    <li>
        <p>                 
{{ highlight }}
        </p>
    </li>     
{% endfor %}  

</ul>
{% endif %}
{% endif %}