{% if include.newsletter.newsletter_meta.highlights %}
<p>
    Highlights from this week:
</p>
{% if include.newsletter.newsletter_meta.highlights.size == 1 %}
<p class="newsletter-highlights">
    {{ include.newsletter.newsletter_meta.highlights }}
</p>
{% else %}
<ul class="newsletter-highlights">
{% for highlight in include.newsletter.newsletter_meta.highlights %}
    <li class="newsletter-highlight">
        <p>
{{ highlight }}
        </p>
    </li>
{% endfor %}

</ul>
{% endif %}
{% endif %}
