@import "colors";

.question-answer {
  &-question-section {
    display: block;
    margin-bottom: 8px;
  }

  &-question {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    padding-left: 26px;
  }

  &-icon {
    color: $color-brand;
    font-size: 1.6rem;
    position: absolute;
    left: -10px;
    top: -3px;

    @media (min-width: 992px) {
      left: -40px;
      top: 0;
    }
  }
}
