header {
  background: #eee;
  margin-bottom: 40px;
  border-bottom:  1px solid #ddd;
}

header .name {
  display: block;
  color: #555;
  margin-bottom: 24px;
  font-size: 2.5rem;
}

@media (min-width: 992px) {
  .header-intro {
    padding-left: calc(100px + 0.5rem);
    padding-top: 1rem;
  }
}

@media (min-width: 992px) {
  header .name:before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: url('/assets/images/logo.png') transparent no-repeat top left;
    position: absolute;
    left: 0;
    top: 0;
  }
}
