a {
  color: #08c;
}

header {
  background: #eee;
  margin-bottom: 40px;
  border-bottom:  1px solid #ddd;
}

header .name {
  display: block;
  color: #555;
  margin-bottom: 24px;
  font-size: 2rem;
  padding-left: 100px;
}

@media (min-width: 768px) {
  header .name {
    font-size: 2.5rem;
    /*padding-left: 0;*/
  }
}

header .name:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: url('/assets/images/logo.png') transparent no-repeat top left;
  position: absolute;
  left: 10px;
  top: 0;
}

@media (min-width: 768px) {
  header .header-main {
    padding-top: 1rem;
  }
}

.post.post-listed {
  margin-bottom: 64px;
}

.post.post-listed-last {
  /*margin-bottom: 0;*/
  /*padding-bottom: 0;*/
}

.post .post-continue-reading {
  width: 100%;
}

@media (min-width: 992px) {
  .post .post-continue-reading {
    width: auto;
  }
}

.posts-all-wrapper {
  border-top: 1px solid #ddd;
}

.posts-all {
  margin: 64px 0;
  width: 100%;
}

@media (min-width: 992px) {
  .posts-all {
    width: auto;
  }
}

/*.post.post-listed:first-of-type {*/
  /*color:red;*/
/*}*/

/*.post.post-listed.post-listed-last {*/
  /*color:blue;*/
  /*margin-bottom: 64px;*/
/*}*/

/*.post .section:last-of-type {*/
  /*margin-bottom: 64px;*/
/*}*/

/*.post .section-continue-reading a {*/
  /*width: 100%;*/
/*}*/


.post-meta {
  opacity: 0.4;
  margin-bottom: 16px;
}

.post-meta time {

}

.page-index h2 {
  font-size: 1.5rem;
}

