a {
  color: #08c;
}

header {
  background: #eee;
  margin-bottom: 40px;
  border-bottom:  1px solid #ddd;
}

header .name {
  display: block;
  color: #555;
  margin-bottom: 24px;
  font-size: 2rem;
  padding-left: 100px;
  text-decoration: none;
}

header .name:hover {
  color: #333;
}

@media (min-width: 768px) {
  header .name {
    font-size: 2.5rem;
  }
}

header .name:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: url('/assets/images/logo.png') transparent no-repeat top left;
  position: absolute;
  left: 10px;
  top: 0;
}

@media (min-width: 768px) {
  header .header-main {
    padding-top: 1rem;
  }
}

.post.post-listed {
  margin-bottom: 64px;
}

.post .post-continue-reading {
  width: 100%;
}

@media (min-width: 992px) {
  .post .post-continue-reading {
    width: auto;
  }
}

.post-listed .post-heading {
  font-size: 1.5rem;
}


@media (min-width: 992px) {
  .post-listed .post-heading {
    font-size: 2rem;
  }
}

.posts-all-wrapper {
  border-top: 1px solid #ddd;
}

.posts-all {
  margin: 64px 0;
  width: 100%;
}

@media (min-width: 992px) {
  .posts-all {
    width: auto;
  }
}

.post-meta {
  opacity: 0.4;
  margin-bottom: 16px;
}

.archive-list {
  list-style: none;
  margin: 0;
  padding-left: 3rem;
}

.archive-list .post-meta {
  opacity: 1;
  color: #555;
}

.archive-item {

}

.archive-item:before {
  content: attr(value);
  color: #ddd;
  width: 3rem;
  position: absolute;
  left: 0;
  text-align: right;
  font-size: 1.25rem;
}

.newsletter-highlights {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1rem;
  border-left: 3px solid #ddd;
}

.newsletter-highlight {

}