.header {
    background-color: #eee;
}

#logo {
    position:absolute;
    background: url('http://simplytestable.com/bundles/simplytestablewebsite/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width:100px;
    height:100px;
    left:-100px;
    top: -14px;
}

.header .container {
    padding: 40px 0;
}

.header #name {
    font-size: 50px;
    margin-bottom:20px;   
    color:#555;
    font-weight: bold;
    display:block;
}

.header #name:hover {
    color:#333;
    text-decoration: none;
}

.header  p {
    font-size: 18px;
    line-height: 27px;    
}

a,
.sidebar i,
.sidehbar h2 {
    color: #08c;
}

a:hover {
    color: #005580;
}


.sidebar h2 {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);    
    font-size:16px;  
}

.sidebar h2 i {
    width: auto;
    height: auto;    
    font-size:16px;
    line-height: 16px;    
    margin-right:4px;
}

.sidebar div.section {
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-left:20px;
    border-bottom: 1px solid #ddd;
}

.sidebar h3 {
    font-size:14px;
}

.newsletter form label {
    display:none;
}

ul.repository-list {
    list-style: none;
    margin: 0;
    padding:0;
}

ul.repository-list li {
    margin: 10px 0;
}

ul.repository-list li a.build-status {
    display:inline-block;
    margin-left:6px;
}

ul.listless {
    list-style: none;
    margin:0;
    padding: 0;
}

ul.listless li {
    margin:16px 0;
}

.sidebar .repository-list {
    font-size: 12px;
}

@media (max-width: 991px) {   
    #header-tweet {
        display:none;
    }
}

@media (max-width: 1200px) {    
    .header #logo {
        left:0;
    }
    
    .header #name {
        text-indent: 100px;
    }    
    
    .header .leader p {
        margin-left:100px;        
    }    
    
    .header #name {
        font-size:36px;
    }
}