/*[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}  

.btn-small [class^="icon-"] {
margin-top: -1px;
}

.btn [class^="icon-"] {
    margin-top:2px;
}
    



.addthis_toolbox {
    position:absolute;
    margin-top:70px;
}

body {
    margin-bottom: 60px;
    padding-top:60px;
}

.container {
    position:relative;
}*/

/*.hero-unit #twitter-status {
    height:80px;
}

.hero-unit #tweet {
    opacity:0;
    height:60px;
}

.hero-unit #twitter-status .icon-twitter {
    color: #08C;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: auto;
    height: 70px;
    float: left;
    font-size: 58px;
    display: inline-block;
    margin: 0 10px 0 0;    
}

.hero-unit #tweet .time {
    opacity:0.4;
}*/



/*body.home .post {
    
}*/

/*.post .section {
    padding-left: 60px;
    padding-right: 60px;  
}*/




/*.newsletter #email {
    width: 70%;
    margin: 0;    
}*/








body.illustration {
    
}

body.illustration .image {
    width:100%;
    display:block;    
}

.post .illustration {
    width:100%;
    margin-bottom:40px;
}

.post .illustration span,
.post .illustration a {
    height:300px;
    display:block;
    background-color:transparent;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.post .illustration a i {
    width: auto;
    height: auto;
    font-size: 100px;
    line-height: 100px;
    margin: 100px 0 0 286px;
    color: white;
    opacity: 0.4;    
}

.post .illustration a:hover {
    text-decoration: none;
}

.post .illustration a:hover i {
    opacity:0.8;
}

#page-index .post {
    margin-bottom:60px;
}

#page-index .post .post {
    margin-bottom: 0;
}

#page-index .archive-link {
    font-size: 24px;
    line-height: 36px;  
    margin-left:60px;
    display:block;
    border-top:5px solid #eee;
    padding: 20px 0;
}

#page-index .archive-link i {
    text-decoration: none;
    width: auto;
    height: auto;
    line-height: 28px;   
}



.application-list .application-meta ul {
    list-style: none;
    margin: 10px 0;
}

.application-list .application-meta li {
    padding: 3px 0;
}

.post table.stats th {
    font-size:14px;
    opacity:0.8;
}

.question-answer h3 {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;    
    margin-bottom:8px;
    margin-top:20px;
    border-left: 5px solid #DDD;
    margin-left: -20px;
    padding-left: 10px;
}

.question-answer ul {
    margin-top: -10px;
}

.question-answer ul p {
    margin-bottom:8px;
}

.accented-charater-comparison i {
    font-size:60px;
    font-style: normal;
}

.inline-illustration {
    margin: 6px 20px 20px 0;
    box-shadow: 0px 0px 5px 0px #222;
}

.inline-illustration-floated {
    float:left;
}

body#page-improved-viewing-of-results-for-large-tests- #illustration-inline {
    background-image: url('http://i.imgur.com/zsUjiqv.png');
    width: 650px;
    height: 280px;
    background-position: -180px 0px;
}

#start-new-test-form a  {
    position: relative;
    padding-right: 40px;
    text-align: left;
    display:block;
}

#start-new-test-form a .icon {
    position: absolute;
    right: 10px;
    font-size:30px;
    top:11px;
}

#start-new-test-form a .byline {
    display: block;
    font-size: 13px;
    text-align: left;
    font-style: normal; 
    opacity: 0.8;
}

.post ul {
    margin-bottom: 18px;
    margin-top: -6px;
}

.post .linklist li {
    padding:2px;
}

.post ul p {
    margin-bottom: 6px;
}

.table-pre pre {
    
}

table.top-html-validation-errors th,
table.top-html-validation-errors td {
    font-size: 80%;
}

.table-pre td pre {
    font-size: 100%;
    border: none;
    background: none;
    margin: 0;
    padding: 0;    
}

.illustration-inline {
    position:relative;
    margin-bottom: 20px;
}

.illustration-highlight {
    position:absolute;
    border: 2px solid #ff0000;
}

.illustration-inline-test-locked .illustration-highlight {
    top: 65px;
    right: 8px;
    width: 109px;
    height: 51px;    
}