{% assign include_post_meta_byline = false %}

<ol class="archive-list">
    {% for post in site.posts %}
    {% assign content_item = post %}

    {% capture reverse_index %}{{forloop.length | minus:forloop.index | plus:1 }}{% endcapture %}
    <li class="post post-listed archive-item" value="{{ reverse_index }}">
        <h2 class="post-heading"><a href="{{ post.url }}">{{ post.title }} {{ post_index }}</a></h2>
        {% include posts/post-meta.html %}

        {% if post.newsletter %}
        {% include posts/newsletter/intro.html %}
        {% include posts/newsletter/highlights.html %}
        {% else %}
        {{ post.excerpt }}
        {% endif %}

    </li>
    {% endfor %}
</ol>
