{% assign content_item = page %}
{% if post %}
    {% assign content_item = post %}
{% endif %}

{% if page.is_index %}
    {% assign heading_start = '<h2 class="post-heading">' %}
    {% assign heading_end = '</h2>' %}
{% else %}
    {% assign heading_start = '<h1 class="post-heading">' %}
    {% assign heading_end = '</h1>' %}
{% endif %}

<div class="post {% if page.is_index or content_item.is_archive %}post-listed{% endif %} {% if is_last_post %}post-listed-last{% endif %}">
    {{ heading_start }}

    <a href="{{ content_item.url }}">
        {{ content_item.title }}
    </a>

    {{ heading_end }}

    {% include posts/post-meta.html authors=site.data.authors author=content_item.author display_post_meta_byline=include.display_post_meta_byline %}

    {% if content_item.illustration %}
        {% assign illustration_style = "background-image: url('" | append: content_item.illustration.url | append: "'); " %}

        {% if content_item.illustration.style %}
            {% for style in content_item.illustration.style %}
                {% capture illustration_style %}{{illustration_style}}{{style[0]}}: {{style[1]}};{% endcapture %}
            {% endfor %}
        {% endif %}

        {% if content_item.illustration.id %}
            <a href="/illustrations/{{ content_item.illustration.id }}"
               style="{{ illustration_style }}"
               class="illustration">
                <i class="fa fa-search-plus illustration-icon"></i>
            </a>
        {% else %}
            <span class="illustration" style="{{ illustration_style }}"></span>
        {% endif %}
    {% endif %}

    {% if content_item.newsletter_meta %}
        {% include posts/newsletter/content.html newsletter=content_item %}
    {% else %}
        {% if page.is_index %}
            {{ content_item.excerpt }}
            <a href="{{ content_item.url }}" class="btn btn-outline-secondary post-continue-reading">Continue reading <i class="fa fa-caret-right"></i></a>
        {% else %}
            {{ content_item }}
        {% endif %}
    {% endif %}

    {% if include_comments %}
    <div class="comments">
        <i class="comment-icon fa fa-comments-o"></i>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_config = function () {
                this.page.url = '{{ site.url}}{{page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://simplytestable.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
    </div>
    {% endif %}
</div>