{% assign content_item = page %}
{% if post %}
{% assign content_item = post %}
{% endif %}

{% if page.is_index %}
    {% assign heading_start = '<h2 class="post-heading">' %}
    {% assign heading_end = '</h2>' %}
{% else %}
    {% assign heading_start = '<h1 class="post-heading">' %}
    {% assign heading_end = '</h1>' %}
{% endif %}

<div class="post {% if page.is_index or content_item.is_archive %}post-listed{% endif %} {% if is_last_post %}post-listed-last{% endif %}">
    {% if content_item.is_archive %}
    {% else %}
        {{ heading_start }}

        <a href="{{ content_item.url }}">
            {{ content_item.title }}
        </a>

        {{ heading_end }}

        {% include posts/post-meta.html %}
    {% endif %}

    {% if content_item.illustration %}
        {% if content_item.illustration.id %}
            <div class="section">
                {% if content_item.illustration.style %}
                    {% capture illustration_style %}{% endcapture %}

                    {% for style in content_item.illustration.style %}
                        {% capture illustration_style %}{{illustration_style}}{{style[0]}}: {{style[1]}};{% endcapture %}
                    {% endfor %}
                {% endif %}

                <div class="illustration illustration-{{ content_item.illustration.id }}">
                    <a href="/illustrations/{{ content_item.illustration.id }}"
                       style="background-image: url('{{ content_item.illustration.url }}');{{ illustration_style }}">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="section">
                <div class="illustration illustration-{{ content_item.illustration.id }}" style="{% if content_item.illustration.height %} height: {{content_item.illustration.height}} {% endif %}">
                    <span style="background-image: url('{{ content_item.illustration.url }}'); {% if content_item.illustration.offset-x %}background-position-x: {{content_item.illustration.offset-x}};{% endif %}"></span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if content_item.newsletter %}
        {% include posts/newsletter/content.html %}
    {% else %}
        {{ content_item.content }}
    {% endif %}

    {% if page.is_index %}
        {% if content_item.continue_reading != false %}
    <div class="section section-continue-reading">
            <a href="{{ content_item.url }}" class="btn btn-default">Continue reading <i class="fa fa-caret-right"></i></a>
    </div>
        {% endif %}
    {% else %}
        {% if page.is_archive != true %}
    <div class="section comments">
        <i class="comment-icon fa fa-comments-o"></i>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_config = function () {
                this.page.url = '{{ site.url}}{{page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://simplytestable.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
    </div>
        {% endif %}
    {% endif %}
</div>