{% assign display_author = include_post_meta_byline and content_item.author %}

<div class="post-meta">
    <time datetime="{{ content_item.date | date: '%Y-%m-%d' }}">{{ content_item.date | date: "%B %e, %Y" }}</time>

    {% if display_author %}
    by

    {% assign author_start = '<span class="author">' %}
                {% assign author_end = '</span>' %}

    {% if content_item.author.url %}
    {% assign author_start = '<a href="{{ content_item.author.url }}">' %}
    {% assign author_end = '</a>' %}
    {% endif %}

    {{ author_start }}
    {{ content_item.author.name }}
    {{ author_end }}
    {% endif %}
</div>
