---
title: "Allowing Public Access To Private Test Results"
author: joncram
---

### The Need To Share Test Results

[Tom Batey](https://twitter.com/TomBatey) of [WebDepend](http://www.webdepend.co.uk/) recently 
[contacted me by email](mailto:&#106;&#111;&#110;&#64;&#115;&#105;&#109;&#112;&#108;&#121;&#116;&#101;&#115;&#116;&#97;&#98;&#108;&#101;&#46;&#99;&#111;&#109;)
with some feature requests that would make his life as a professional
web tester easier.

One such request relates to sharing private test results:

> \[I'd like to have\] some way of adding issues into bug trackers or perhaps be able to add a results URL to a bug tracker so that it is accessible by someone who doesn't have a Simply Testable account.

I thought this was an excellent idea and when I'd cleared [link integrity testing](/awesome-link-integrity-testing-now-available/)
from my workload I set about making this happen.

(Psst. <a href="#need-something-to-make-your-life-easier">Need a feature?</a>)

### Unlocking Private Test Results

<img src="https://i.imgur.com/xbBDHkf.png" class="img-fluid" />

Tests that you run when signed in are private and can be accessed
only by you. The fact that a test is locked to your account
can now be seen below the re-test button when viewing the main
test results.

This is generally a good default as you might not want the whole
world to know what you're working on.

If you want to share private test results with colleagues or clients,
just click the unlock button show above.

You'll now see that your test is unlocked and the results can be viewed
by anyone. You then have the option to lock the test again if you
no longer want to be able to share the results:

<img src="https://i.imgur.com/dSLNTlo.png" class="img-fluid" />

### Viewing Unlocked Test Results

Just share the main results URL or the results URL for any of the
individual test results with whoever you want to be able to see
the results.

Here's what that will look like to anyone but you:

<a href="https://gears.simplytestable.com/https://blog.simplytestable.com//10865/results/">
    <img src="https://i.imgur.com/ZEDPPXb.png" class="img-fluid" />
</a>

Click the above image to be taken to an unlocked test that I just
carried out myself.

### Need Something To Make Your Life Easier?

If there's any aspect of web testing that would make your life easier,
let me know.

Here's your options for doing that. Use whichever option works
best for you:

- Add an idea to the [suggestions forum](https://simplytestable.uservoice.com/forums/175588-tell-us-what-to-make-)
(or vote on ideas already suggested)
- [send me an email](mailto:&#106;&#111;&#110;&#64;&#115;&#105;&#109;&#112;&#108;&#121;&#116;&#101;&#115;&#116;&#97;&#98;&#108;&#101;&#46;&#99;&#111;&#109;)
- Send a tweet to [@simplytestable](https://twitter.com/simplytestable/)
