<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 primary">
                <a href="//simplytestable.com" id="logo"></a>
                <a href="/" id="name">                                
                    Simply Testable Blog
                </a>
                
                <div class="leader">
                    <p class="intro">
                        Figuring out how to automate away the pain of routine front-end web testing; the
                        story behind <a href="http://simplytestable.com">SimplyTestable.com</a>.
                    </p>
                    <p class="purpose">
                        {{ site.posts.size }} posts covering the initial idea, growth of the service, features, advances,
                        failures and successes.
                    </p>
                </div>
            </div>            
            <div class="col-md-4 sidebar">
                {% include sidebar/about.html %}
                {% include sidebar/start-new-test-form.html %}
                {% include sidebar/areas.html %}
            </div>
        </div>
        
        {% include header/newer-older.html %}     
    </div>
</div>