<div class="hero-unit">
    <div class="row">            
        <div class="span12">
            <div class="row">
                <div class="span6 intro">
                    <div class="leader">
                        <a href="//simplytestable.com" id="logo"></a>
                        <h1>
                            <a href="/">                                
                                Simply Testable Blog
                            </a>
                        </h1>    
                        <p>
                            Figuring out how to automate away the pain of routine front-end web testing; the
                            story behind <a href="http://simplytestable.com">simplytestable.com</a>.
                        </p>
                        <p>
                            Now in public alpha at <a href="http://simplytestable.com/">simplytestable.com</a>
                        </p>
                    </div>
                </div>
                <div class="span5 stay-updated">                    
                    <div id="twitter-status" class="well">
                        <i class=icon-twitter></i>
                        <div id="tweet">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim quam, sed posuere risus. Ut porta rhoncus dignissim. Pellentesque sed.
                        </div>
                        <a href="//twitter.com/simplytestable">Follow @simplytestable &raquo;</a>
                    </div>
                    <div id="start-new-test-form">
                        <a href="//gears.simplytestable.com/" class="btn btn-large btn-success">        
                            <b>Test your full web site now</b><br>
                            <span class="byline">Full-site HTML validtion, CSS validation and JSLint analysis</span>
                            <span class="byline">Free and easy. Get started in seconds.</span>
                            <i class="icon icon-caret-right"></i>
                        </a>
                    </div>                    
                </div>                        
            </div>

            {% include header/newer-older.html %}

        </div>
    </div>               
</div>