<div class="hero-unit">
    <div class="row">            
        <div class="span12">
            <div class="row">
                <div class="span6 intro">
                    <div class="leader">
                        <a href="//simplytestable.com" id="logo"></a>
                        <h1>
                            <a href="/">                                
                                Simply Testable Blog
                            </a>
                        </h1>    
                        <p>
                            Figuring out how to automate away the pain of routine front-end web testing; the
                            story behind <a href="http://simplytestable.com">simplytestable.com</a>.
                        </p>
                        <p>
                            First alpha release: <a href="http://alpha1.simplytestable.com/">alpha1.simplytestable.com</a>
                        </p>
                    </div>
                </div>
                <div class="span5 stay-updated">                    
                    <div id="twitter-status" class="well">
                        <i class=icon-twitter></i>
                        <div id="tweet">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim quam, sed posuere risus. Ut porta rhoncus dignissim. Pellentesque sed.
                        </div>
                        <a href="//twitter.com/simplytestable">Follow @simplytestable &raquo;</a>
                    </div>                    
                </div>                        
            </div>

            {% include header/newer-older.html %}

        </div>
    </div>               
</div>