{% if page.url != '/archive/index.html' %}
<div class="row newer-older">                
    {% assign content_item = page %}
    {% if page.url == '/index.html' %}
    {% for post in site.posts offset: 0 limit: 1 %}
    {% assign content_item = post %}
    {% endfor %}
    {% endif %}

    {% assign newer = false %}
    {% assign older = false %}
    {% assign has_found_current = false %}
    {% assign has_found_older = false %}
    {% for post in site.posts %}                
    {% if post.url == content_item.url %}
    {% assign has_found_current = true %}
    {% endif %}

    {% if has_found_current == false %}
    {% assign newer = post %}
    {% endif %}

    {% if has_found_current == true and has_found_older == false and post.url != content_item.url %}
    {% assign older = post %}
    {% assign has_found_older = true %}
    {% endif %}                 

    {% endfor %}

    {% if newer != false %}
    <a href="{{ newer.url}}" class="newer"><i class="icon-arrow-left"></i> {{ newer.title }}</a>
    {% endif %}                

    {% if older != false %}
    <a href="{{ older.url}}" class="older">{{ older.title }} <i class="icon-arrow-right"></i></a>
    {% endif %}
</div>
{% endif %}