<!doctype html>
<html lang="en">
    {% include element/head.html %}
    <body class="{% include page/id %}">
        {% include element/header.html %}

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        {% if page.is_index %}
                        {% include posts/latest.html %}
                        {% else %}
                        {% assign include_comments = true %}
                        {% include posts/post.html %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>


        <!--{% include header/navigation.html %}-->
        <!--{% include header/introduction.html %}-->

        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-8">-->
                    <!--{% if page.is_index %}-->
                        <!--{% include posts/latest.html %}-->
                    <!--{% else %}-->
                        <!--{% include posts/post.html %}-->
                    <!--{% endif %}-->
                <!--</div>-->
                <!--<div class="col-md-4 sidebar">-->
                    <!--{% include sidebar/newsletter.html %}-->
                    <!--{% include sidebar/twitter-latest.html %}-->
                    <!--{% include sidebar/recent.html %}-->
                    <!--{% include sidebar/repositories.html %}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--{% include element/script_twitter.html %}-->
    </body>
</html>
