<div class="section about">
    <h2>
        <i class="fa fa-question-circle"></i> 
        About Simply Testable
    </h2>
    <p>
        Simple, professional automated front-end web testing. One-click testing for your
        entire site.
    </p>
    <p>
        Full-site HTML validation, CSS validation, JavaScript static analysis
        and link integrity checking.
    </p>        
    <a class="btn btn-default" href="//simplytestable.com">Learn more <i class="fa fa-caret-right"></i></a>        
</div>