<div class="section newsletter">
    <form class="" action="http://simplytestable.us5.list-manage.com/subscribe/post?u=ac75e33d993d2b502e333ddd0&amp;id=311aedc7f4" method="post">
        <h2>
            <i class="fa fa-envelope"></i> 
            Subscribe to the inside story
        </h2>
        <p>
            On-going development, new feature plans and advance access to new features
            as they happen.
        </p>
        <p>
            You won't get inundated, we'll send updates about once a week and you can unsubscribe at any time if this bothers you.                                
        </p>

        <div class="input-group">
            <input id="email" type="email" placeholder="Enter your email address…" class="form-control">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary dropdown-toggle">Join us <span class="fa fa-caret-right"></span></button>
            </div>
        </div>
    </form>             
</div>