<div class="well">
    <h2><i class="icon-github-sign"></i> Follow development</h2>
    <ul class="repository-list">
        <li><i class="icon-github"></i> <a href="https://github.com/webignition/app.simplytestable.com">github.com/webignition/app.simplytestable.com</a></li>
        <li><i class="icon-github"></i> <a href="https://github.com/webignition/simplytestable.com">github.com/webignition/simplytestable.com</a></li>
        <li><i class="icon-github"></i> <a href="https://github.com/webignition/blog.simplytestable.com">github.com/webignition/blog.simplytestable.com</a></li>
    </ul>
</div>