<div class="section">
    <h2><i class="fa fa-github-alt"></i> Follow development on GitHub</h2>
    <h3>Simply Testable applications</h3>
    <ul class="repository-list">
        <li><i class="fa fa-github"></i> <a href="https://github.com/webignition/app.simplytestable.com">github.com/webignition/app.simplytestable.com</a></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/webignition/worker.simplytestable.com">github.com/webignition/worker.simplytestable.com</a></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/webignition/web.client.simplytestable.com">github.com/webignition/web.client.simplytestable.com</a></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/webignition/simplytestable.com">github.com/webignition/simplytestable.com</a></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/webignition/blog.simplytestable.com">github.com/webignition/blog.simplytestable.com</a></li>
    </ul>
    <h3>Featured opensource libraries</h3>
    <ul class="repository-list">
        <li>
            <i class="fa fa-github"></i> <a href="https://github.com/webignition/url">github.com/webignition/url</a>
        </li>
        <li>
            <i class="fa fa-github"></i> <a href="https://github.com/webignition/absolute-url-deriver">github.com/webignition/absolute-url-deriver</a>            
        </li>
        <li>
            <i class="fa fa-github"></i> <a href="https://github.com/webignition/http-client">github.com/webignition/http-client</a>
        </li>
    </ul>
</div>
